@charset "ISO-8859-1";

body, html, html {
	-webkit-font-smoothing: antialiased;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, sans-serif;
	background-color: #fff;
}


#projectMapping label ,#folderMapping label {
	font-weight: bold;
	font-size: 12px;
}

.form-control {
	font-size: 12px !important;
}

nav {
	font-size: 17px !important;
}

.crud {
	background-color: teal;
	color: #fff;
}

.app {
	
}

.app Label {
	font: -webkit-control;
	font-size: 25px;
	color: #dcdcdc;
	font-weight: bold;
	font-family: inherit;
}

a {
	color: black;
}

.btn-type button {
	font-size: 8px !important;
}

.btn-type fa {
	font-size: 10px !important;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%
}

.asteriskField {
	color: red;
}

.header-box {
	width: 100%;
	padding: 10px;
	background-color: #008080;
	font-size: 15px;
	border-bottom: 2px solid #400040;
	z-index: 2;
}

.line-adjust {
	padding-top: 10px;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
	margin-right: auto;
	margin-left: auto
}

.menu-box {
	margin-top: 80px;
	position: fixed;
	height: 100%;
	width: 16.7%;
	border: 1px solid #00000010;
	background-color: rgba(224, 224, 224, 0.188);
	font-size: 15px;
	z-index: 1;
}

.menu-box ul {
	margin-top: 10px;
}

.menu-box li {
	padding: 8px;
	color: #000 !important;
}

.menu-box  a {
	color: black;
	font-size: 15px;
	text-decoration: none;
}

.menu-box li:hover, .menu-box li:hover a {
	background-color: teal;
	color: white;
	text-decoration: none;
}

.menu-box .fa {
	margin-right: 8px;
}

.hide {
	display: none;
}

.nav-tabs {
	border: 0px;
}

.filter {
	font-family: sans-serif;
	margin-top: 0px;
	margin-left: 242px;
	max-width: 100%;
	padding: 40px;
	background-color: rgba(224, 224, 224, 0.188);
	font-size: 15px;
	border: 2px solid #fff;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom: 1px solid teal;
	border-top: 1px solid #c4dada !important;
}

.filter input, .filter select {
	border: 1px solid #00000010 !important;
	font-size: 12px;
}

.filter label {
	font-weight: bold;
	font-size: 12px;
}

table tr th {
	color: black;
	font-size: 12px;
	font-weight: bold;
	background-color: #e0e0e030;
}

.btn-reset, .btn-submit {
	color: black;
	background-color: #e0e0e030;
}

table {
	background-color: #fff !important;
}

.report-box {
	margin-top: 5px;
	font-family: sans-serif;
	margin-left: 242px;
	max-width: 100%;
	padding: 40px;
	background-color: rgba(224, 224, 224, 0.188);
	font-size: 15px;
	border-bottom: 2px solid teal;
	border-top: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top: 1px solid #c4dada;
}

@media only screen and (max-width: 600px) {
	.report-box {
		margin-top: 5px;
		font-family: sans-serif;
		line-height: 1.5;
		margin-left: 120px;
		max-width: 100%;
		background-color: #fff;
		font-size: 15px;
		font-family: sans-serif;
		border-top: 1px solid #c4dada;
	}
	.menu-box li {
		padding: 8px;
		margin-right: 0px;
		color: #000 !important;
	}
}

@media only screen and (max-width: 600px) {
	.menu-box {
		position: fixed;
		height: 100%;
		width: 120px;
		border: 1px solid rgba(0, 0, 0, 0.062);
		background-color: rgba(224, 224, 224, 0.188);
		margin-right: 0px;
		font-size: 15px;
	}
}

@media only screen and (max-width: 600px) {
	.filter {
		margin-top: 0px;
		font-family: sans-serif;
		line-height: 1.5;
		margin-left: 120px;
		max-width: 100%;
		background-color: #f3f3f3;
		font-size: 15px;
		border-top: 1px solid #c4dada !important;
	}
}

@media only screen and (min-width: 600px) {
	.menu-box {
		position: fixed;
		height: 100%;
		width: 240px;
		border: 1px solid rgba(0, 0, 0, 0.062);
		background-color: rgba(224, 224, 224, 0.188);
		margin-right: 0px;
		font-size: 15px;
	}
}

table td {
	font-size: 12px !important;
}

p:before {
	content: "\00a0 ";
}

#viewText {
	display: inline-block;
	color: #10707f;
}

footer {
	background-color: teal;
	position: fixed;
	padding: 10px;
	height: 40px;
	bottom: 0;
	width: 100%;
	color: #fff;
	z-index: 5;
	border-top: 1px solid rgba(0, 0, 0, 0.062);
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #007bff;
}

.not-found {
	font-family: Roboto;
	display: block;
	color: #dc3545;
	font-size: 20px;
	display: block;
}

/*TO KEEP MODAL MIDDLE  */
#viewAudioContent, #audioPlayer, #viewUploadFiles {
	top: 30%;
	vertical-align: middle;
}

#submit, #reset, #test, #saveConfig {
	margin-top: 28px;
	background-color: #c7c7c7
}

.marker {
	display: inline-block;
	font-size: 15px;
	color: black;
	font-weight: bold;
}

.ErrorClass {
	color: red;
	font-size: 12px !important
}

#audioFileDesign {
	display: none;
}

#myProgress {
	width: 40%;
	background-color: #ddd;
}

#myBar {
	width: 0%;
	height: 20px;
	background-color: #90EE90;
}

.eye-icon {
	float: right;
	margin-right: 6px;
	margin-top: -25px;
	position: relative;
	z-index: 1;
}

.button-format {
	vertical-align: middle;
}

.model-header {
	border: 1px solid teal;
	display: block;
	background-color: teal;
	border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	display: block;
}

.model-header label {
	font-weight: bold;
	vertical-align: middle;
	font-size: 20px;
	color: #fff;
}

.model-box {
	border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	display: block;
	border: 1px solid teal;
}

.model-box label {
	font-size: 14px;
	font-weight: bold;
}

.btn-model {
	background-color: #383d42;
}

.form-control-sm {
	font-size: 12px !important;
}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: .25rem;
}

#allocationId {
	font-size: 12px !important;
}

.nav-pills .nav-link.active {
	background-color: teal !important;
}